h1{
  font-weight: 700;
  font-size:40 px;
  margin:10px;
  margin-bottom: 25px;
}
input{
  border-radius: 5px;
}
.items-container{
  text-align: left; 
  font-size: 1.5rem;
}
button{
  width:100px;
  height: 40px;
}
.row{
  margin:7px 3px;
}